<div class="body">
<div class="admin-container">
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

    <div class="button-container">
      <p-button label="Primary" [raised]="true"></p-button>
      <p-button type="button"  pRipple (click)="showDetails()" label="Details" styleClass="p-button-success" severity="success"></p-button>
      <p-button type="button"  pRipple (click)="back()" label="Back" styleClass="p-button-success"></p-button>
      <p-button type="button"  pRipple (click)="logout()" label="Logout" ngClass="p-button-error"></p-button>

        <button (click)="showDetails()" class="details-btn">Details</button>
        <button (click)="back()" class="details-btn">back</button>
        <button (click)="logout()" class="logout-btn">Logout</button>
      </div>
<!-- <div>
<h3>Add Student</h3>
<label for="email">Email</label>
<input type="text" placeholder="Email" name="email" id="eamilId" [(ngModel)]="email">

<label for="username">Username</label>
<input type="text" placeholder="Roll No." name="user" id="username" [(ngModel)]="username">

<label for="password">Password</label>
<input type="password" placeholder="Password" id="pssd" name="password" [(ngModel)]="password">

<label for="role">Role</label>
<input type="text" placeholder="Role" id="role" name="role" [(ngModel)]="role">



<button type="button" pButton pRipple (click)="addUser(username, password, email, role )" label="Add" class="p-button-success"></button>

</div> -->
<app-details-page *ngIf="show"></app-details-page>
<div *ngIf="hide">
<div class="dashboard-section">
    <h3>Add Student</h3>
    <form >
      <label for="email">Email</label>
      <input type="text" placeholder="Email" name="email" id="email" [(ngModel)]="email">

      <label for="username">Username</label>
      <input type="text" placeholder="Roll No." name="user" id="username" [(ngModel)]="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" name="pssd" id="password" [(ngModel)]="password">

      <label for="role">Role</label>
      <input type="role" placeholder="Role" id="role" name="role" [(ngModel)]="role">
<br>
      <button type="button" pButton pRipple (click)="addUser(username, password, email, role)" label="Add" class="p-button-success">Add</button>
    </form>
  </div>

<!-- <div>
    <h3>Delete Student</h3>
    <label for="username">Username</label>
    <input type="text" placeholder="Roll No." name="user" id="username" [(ngModel)]="username">    
    <button pButton pRipple (click)="deleteUser(username)" class="p-button-success">Delete</button>
</div> -->

<div class="dashboard-section">
    <h3>Delete Student</h3>
    <form>
      <label for="deleteUsername">Username</label>
      <input type="text" placeholder="Roll No." name="user" id="deleteUsername" [(ngModel)]="username">

      <button type="button" pButton pRipple (click)="deleteUser(username)" label="Delete" class="p-button-success">Delete</button>
    </form>
  </div>

<!-- <div>
    <h3>Update Student</h3>
    
    <label for="username">Username</label>
    <input type="text" placeholder="Roll No." name="user" id="username" [(ngModel)]="username">

    <label for="email">Email</label>
    <input type="text" placeholder="Email" name="email" id="eamilId" [(ngModel)]="email">
    
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="pssd" name="password" [(ngModel)]="password">
    
    <button pButton pRipple (click)="updateUser(username, password, email)" class="p-button-success">Update</button>
</div> -->

<div class="dashboard-section">
    <h3>Update Student</h3>
    <form>
      <label for="updateUsername">Username</label>
      <input type="text" placeholder="Roll No." name="user" id="updateUsername" [(ngModel)]="username">

      <label for="updateEmail">Email</label>
      <input type="text" placeholder="Email" name="Email" id="updateEmail" [(ngModel)]="email">

      <label for="updatePassword">Password</label>
      <input type="password" placeholder="Password" name="pssd" id="updatePassword" [(ngModel)]="password">

      <label for="role">Role</label>
      <input type="role" placeholder="Role" id="role" name="role" [(ngModel)]="role">

      <button type="button" pButton pRipple (click)="updateUser(username, password, email, role)" label="Update" class="p-button-success">Update</button>
    </form>
  </div>

<!-- <div>
    <h3>Find Student</h3>
    
    <label for="username">Username</label>
    <input type="text" placeholder="Roll No." name="user" id="username" [(ngModel)]="username" >

    <button pButton pRipple (click)= "findUser()" class="p-button-success">Find</button>

<div>
     UserName :{{users.user.username}}
     Email :{{users.user.email}}
     Password :{{users.user.password}}
    
</div>
</div> -->

<div class="dashboard-section">
    <h3>Find Student</h3>
    <form>
      <label for="findUsername">Username</label>
      <input type="text" placeholder="Roll No." name="user" id="findUsername" [(ngModel)]="username">

      <button pButton pRipple (click)= "findUser()" class="p-button-success">Find</button>
    </form>
    <div>
        UserName :{{users.user.username}}
        Email :{{users.user.email}}
        Password :{{users.user.password}}
       
   </div>
  </div>
    <!-- <p-button label="Submit"></p-button> -->
</div>
</div>

      
  <!-- <div>
    <h2>Log out</h2>
    <button (click)="logout()">Logout</button>
  </div> -->

</div>